<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <context-param>
    <param-name>password</param-name>
    <param-value>1234</param-value>
  </context-param>
  <context-param>
    <param-name>encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <context-param>
    <param-name>userSessionKey</param-name>
    <param-value>USER_SESSION_KEY</param-value>
  </context-param>
  <context-param>
    <param-name>redirectPage</param-name>
    <param-value>/ex-islogin/login.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>uncheckedUrls</param-name>
    <param-value>/ex-islogin/a.jsp,/ex-islogin/list.jsp,/ex-islogin/login.jsp,/ex-islogin/doLogin.jsp</param-value>
  </context-param>
  <filter>
    <filter-name>helloFilter</filter-name>
    <filter-class>com.ctl.web.filters.HelloFilter</filter-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>ctl</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>secondFilter</filter-name>
    <filter-class>com.ctl.web.filters.SecondFilter</filter-class>
  </filter>
  <filter>
    <filter-name>usernameFilter</filter-name>
    <filter-class>com.ctl.web.filters.UserNameFilter</filter-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>ctl</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>passwordFilter</filter-name>
    <filter-class>com.ctl.web.filters.PasswordFilter</filter-class>
  </filter>
  <filter>
    <filter-name>noCacheFilter</filter-name>
    <filter-class>com.ctl.web.filters.NoCacheFilter</filter-class>
  </filter>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.ctl.web.filters.EncodingFilter</filter-class>
  </filter>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.ctl.web.filters.LoginFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>harmInformationFilter</filter-name>
  	<filter-class>com.ctl.web.authority.HarmInformationFilter</filter-class>
  </filter>
  
  
  
  <filter-mapping>
    <filter-name>helloFilter</filter-name>
    <url-pattern>/test.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>secondFilter</filter-name>
    <url-pattern>/test.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>usernameFilter</filter-name>
    <url-pattern>/ex-login/hello.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>passwordFilter</filter-name>
    <url-pattern>/ex-login/hello.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>noCacheFilter</filter-name>
    <url-pattern>/ex-nocache/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>/LoginServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/ex-islogin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>harmInformationFilter</filter-name>
  	<url-pattern>/Filtrating-harm-information/bbs.jsp</url-pattern>
  </filter-mapping>
</web-app>